.star-icon {
  color: #ccc;
  font-size: $fs-11;
  vertical-align: middle;
}

.star-icon.filled {
  color: #f7a115;
}

.reviews-text {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  margin-left: 5px;
  vertical-align: middle;
}
